NUXT_PUBLIC_GLITCHTIP_DSN=
NUXT_PUBLIC_GLITCHTIP_TRACES_SAMPLE_RATE=0.1
NUXT_PUBLIC_SENTRY_DSN=
NUXT_PUBLIC_SENTRY_TRACES_SAMPLE_RATE=0.1
NUXT_PUBLIC_APP_ENV=local
NUXT_PUBLIC_APP_VERSION=dev
NUXT_PUBLIC_PRIVACY_MODE=false
NUXT_PUBLIC_API_BASE=http://127.0.0.1:8000
